* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 200px;
}


.check {
    display: inline-block;
}


.row::after {
    content: "";
    display: table;
    clear:both;
}

.nav1 {
    height: 80px;
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.nav2 {
    height: 80px;
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.link-nav1 {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}

.link-nav1 a {
    text-decoration: none;
    color: #333;
}

.bottone.inizia a {
    text-decoration: none;
    color: #fff;

}

.bottone.due a {
    text-decoration: none;
    color: #333;
}

.link-nav2 {
    display: inline-block;
    margin-right:  40px;
    line-height: 80px;
}

.link-nav2 a {
    text-decoration: none;
    color: #333;
}

h6 {
    color: gray;
}

.row {
    margin: 0 auto;
}

.bottone.inizia {
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: dodgerblue;
    color: #fff;
}

.bottone.due {
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border: 1px #333 solid;
}

.container1 {
    background-color: rgb(63, 122, 180);
}

.text-container {
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    padding-top: 20px;
    font-size: 23px;
}

.text-container2 {
    width: 800px;
    height: 100px;
    margin: 0 auto;
    font-size: 23px;
}

.text-container3 {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 23px;
}

.a-link{
    font-size: 13px;
}


.sezione{
    float: left;
    width: 60%;
    height: 200px;
    margin-top: 100px;
    padding-left: 40px;
}

.sezione2{
    float: left;
    width: 40%;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.arrow-down::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f063";
    font-size: 30px;

}

.sezione-box1 {
    width: 100%;
    height: 300px;
    background: url(../img/jumbo.png) no-repeat;
    background-size: cover;
}

.sezione-box2 {
    width: 100%;
    height: 300px;
    font-size: 15px;
}

.container2 {
    height: 1200px;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.sezione3{
    float: left;
    width: 32%;
    height: 1000px;
}

.sezione4{
    float: left;
    width: 36%;
    height: 1000px;
    padding-right: 15px;
    padding-left: 15px;
}

.sezione-box3 {
    width: 100%;
    height: 100%;
}

.tab1 {
    background-color: #fff;
    height: 50px;
    width: 100%;
    text-align: center;
    border: 1px #333 solid;
    color: rgb(63, 63, 63);
    padding-top: 10px;
}

.tab2 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 1px #333 solid;
    padding-left: 20px;
    padding-top: 40px;
}

.user::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
}

.user2::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
}

.building::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ad";
}

.folder::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f07b";
}

.pencil::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
}

.smile::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f118";
}

.text-list {
    font-size: small;
    color: rgb(63, 63, 63);
}

.text-list2 {
    font-size: small;
    color: rgb(63, 63, 63);
}

.bar {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.541) solid;
    width: 50px;
}

li {
    list-style-type: none;
    margin top: 50px;
}

.check-list::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: dodgerblue;
}



.tab3 {
    background-color: #fff;
    height: 50px;
    width: 100%;
    text-align: center;
    border: 1px #333 solid;
    color: rgb(63, 63, 63);
    padding-top: 10px;
}


.container4 {
    width: 800px;
    margin: 0 auto;
    border: 1px #333 solid;
    color: rgb(63, 63, 63);
}



.sezione5{
    float: left;
    width: 70%;
    height: 150px;
}

.sezione6{
    float: left;
    width: 30%;
    height: 150px;
    padding-left: 20px;
}

.sezione-box4 {
    margin-top: 20px;
}

.sezione-box5 {
    margin-top: 20px;
}


.container5 {
    width: 800px;
    margin: 0 auto;
    height: 500px;
    margin-top: 100px;
}



.sezione7{
    float: left;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sezione8{
    float: left;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.sezione-box6 {
    width: 100%;
    height: 300px;
    background: url(../img/partner.png) no-repeat;
    background-size: contain;
}

.sezione-box7 {
    width: 100%;
    height: 300px;
    background-color: #fff;
}



.container6 {
    width: 900px;
    margin: 0 auto;
    height: 600px;
}



.sezione50{
    float: left;
    width: 30%;
    height: 200px;
    padding-left: 50px;
}



.sezione-box8 {
    width: 100%;
    height: 200px;
    
}

.sezione-box8.img8 {
    background: url(../img/business-feature-switching-tools.png) no-repeat;
    background-size: contain;
}

.sezione-box8.img9 {
    background: url(../img/business-feature-coordinate-it.png) no-repeat;
    background-size: contain;
}

.sezione-box8.img10 {
    background: url(../img/business-feature-multi-device.png) no-repeat;
    background-size: contain;
}

.sezione-box8.img11 {
    background: url(../img/business-feature-integrations-it.png) no-repeat;
    background-size: contain;
}

.sezione-box8.img12 {
    background: url(../img/business-feature-send-files-it.png) no-repeat;
    background-size: contain;
}

.sezione-box8.img13 {
    background: url(../img/business-feature-security.png) no-repeat;
    background-size: contain;
}


.container.footer1 {
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.session-f1 {
    float: left;
    width: 30%;
    height: 400px;
}

.boxf1 {
    float: left;
    width: 50%;
    height: 50%;;
    position: relative;
    background-size: 100px;
    background-position: center;
}


.logo2 {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo3{
    width: 100px;
}

.text-lorem {
    margin-top: 50px;
}

.invert {
    filter: invert(100%);
}

/*
.logo2.invert {
    padding-top: 90px;
    margin-left: 50px;
}*/

.boxlogo1 {
    background-color: aquamarine
}

.boxlogo2 {
    background-color: rgb(116, 29, 29)
}

.boxlogo3 {
    background-color: dodgerblue;
}

.boxlogo4 {
    background-color: red;
}

.session-f2 {
    float: left;
    width: 40%;
    height: 400px;
}

.boxf2 {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}



.session-f3 {
    float: right;
    width: 30%;
    height: 400px;
}

.boxf3 {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    background-size: 100px;
    background-position: center;
}

.boxlogo6 {
    background-color: gray;
}

.boxlogo7 {
    background-color: blue;
}

.boxlogo8 {
    background-color: yellow;
}

.container.footer2 {
    height: 250px;
    margin: 0 auto;
    background: rgb(152, 196, 216);
}

.session-footer1 {
    float: left;
    width: 50%;
    color: rgb(146, 32, 32);
    padding-left: 250px;
    padding-top: 100px;
    font-size: 20px;
}

.session-footer2 {
    float: left;
    width: 50%;
    color: rgb(146, 32, 32);
    padding-left: 100px;
    padding-top: 100px;
}

.container.footer3 {
    width: 800px;
    margin: 0 auto;
    background: #fff;
    padding-top: 100px;
    margin-bottom: 100px;
}


footer {
    height: 400px;
    background-color: black;

}

.sessione-flot1 {
    float: left;
    color: #fff;
    margin-left: 70px;
    margin-top: 50px;
}

.globe::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f57d";
}

.globe.angle::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
}

.angle::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
}